@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Raleway:regular,700&display=swap);
body {
	font-family: "Raleway",serif;
	font-size: 1.125rem;
	color: #073b4c;
	background-color: #f0f3bd;
}
[class*="__container"] {
	max-width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.page__title {
	padding-top: 3.125rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
}
.page__list {
	padding-top: 1.875rem;
	display: flex;
	flex-direction: column;
	row-gap: 1.25rem;
	line-height: 2;
}
.page__link {
	text-transform: uppercase;
	color: #005f73;
	font-weight: 700;
	transition: all 0.3s ease 0s;
}
.page__link:hover {
	color: #ee9b00;
	transform: translate(0px, -20px);
}
